@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #bdbfaa, #f3eff5);
}

header {
    background-color: #f3eff5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(55, 68, 97, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

main {
    background-color: #f3eff5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(55, 68, 97, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

footer {
    background-color: #f3eff5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(55, 68, 97, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0b1840;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(99, 112, 129);
}

h2 {
    color: #374461;
}

p {
    text-align: justify;
}